.right {
  background-image: var(--map-right);
}

.left {
  background-image: var(--map-left);
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-wrapper {
  position: relative;
  width: 100%;
  max-width: 350px; /* eller kartets naturlige bredde */
}

#map {
  width: 350px;
  height: 653px;
  display: block;
  background-image: var(--map);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Husene posisjoneres relativt til kartet */
#tantes-hus,
#hytta,
#lillehytta {
  position: absolute;
  transition: 0.45s;
}

/* Juster disse prosentene til riktig posisjon */
#tantes-hus {
  background-image: var(--tantes-hus);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 74px;
  top: 76%;
  left: 16%;
}

#tantes-hus.plan-view {
  background-image: var(--tantes-hus-plan);
  width: 240px;
  height: 134px;
  top: 68%;
}

#hytta {
  background-image: var(--hytta);
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 78px;
  top: 40%;
  left: 48%;
}

#hytta.plan-view {
  background-image: var(--hytta-plan);
  width: 150px;
  height: 98px;
  top: 35%;
}

#lillehytta {
  background-image: var(--lille-hytta);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 44px;
  top: 32%;
  left: 64%;
}

#lillehytta.plan-view {
  background-image: var(--lille-hytta-plan);
  width: 120px;
  height: 100px;
  top: 26%;
  left: 54%;
}

#info {
  position: absolute;
  background-color: var(--input-bg);
  padding: 12px;
  width: 180px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0px 4px var(--input-shadow);
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.img-responsive {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
