:root {
  --bg: linear-gradient(0deg, #fe9acf 0%, #fff7b1 100%);
  --btn-bg: #fe9acf;
  --btn-border: #fe9acf;
  --btn-shadow: #fd68b7;

  --nav-bg: #fe9acf;
  --nav-btn: #fd68b7;
  --nav-menu: #ffcf52;

  --card-bg: #fffde5;
  --input-bg: #fffde5;
  --input-border: #fffde5;
  --input-shadow: #fffbcc;
  --txt-color: #fff;

  /*IKONER*/
  /*Hjem*/
  --heart-icon: url("../image/icons/summer/Heart.png");
  /*Pakkeliste*/
  --packing-right: url("../image/icons/summer/pakkeliste-hoyre.png");
  --packing-left: url("../image/icons/summer/pakkeliste-venstre.png");
  /*Program*/
  --program-right: url("../image/icons/summer/program-hoyre.png");
  --program-left: url("../image/icons/summer/program-venstre.png");
  /*Kart*/
  --map-right: url("../image/icons/summer/kart-hoyre.png");
  --map-left: url("../image/icons/summer/kart-venstre.png");
  /*Meny*/
  --menu-right: url("../image/icons/summer/meny-hoyre.png");
  --menu-left: url("../image/icons/summer/meny-venstre.png");
  /*Faq*/
  --faq-right: url("../image/icons/summer/faq-hoyre.png");
  --faq-left: url("../image/icons/summer/faq-venstre.png");
  /*Film*/
  --film-right: url("../image/icons/summer/popcorn-right.png");
  --film-left: url("../image/icons/summer/popcorn-left.png");

  /*BILDER*/
  --wheel-fortune: url("../image/wheel/wheel.svg");
  --map: url("../image/map/Kart.svg");
  --tantes-hus: url("../image/map/houses/Tantes-hus.svg");
  --tantes-hus-plan: url("../image/map/houses/husplan.png");
  --hytta: url("../image/map/houses/Hytta.svg");
  --hytta-plan: url("/image/map/houses/hytteplan.png");
  --lille-hytta: url("/image/map/houses/Lillehytta.svg");
  --lille-hytta-plan: url("/image/map/houses/lillehyttaplan.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: linear-gradient(0deg, #5a4e18 0%, #ead3aa 100%);
    --btn-bg: #73392c;
    --btn-border: #73392c;
    --btn-shadow: #40211a;

    --nav-bg: #73392c;
    --nav-btn: #40211a;
    --nav-menu: #e59e3c;

    --card-bg: #f5eee4;
    --input-bg: #f5eee4;
    --input-border: #f5eee4;
    --input-shadow: #ad916d;
    --txt-color: #fff;

    /*IKONER*/
    /*Hjem*/
    --heart-icon: url("../image/icons/autumn/heart-autmn.svg");
    /*Pakkeliste*/
    --packing-right: url("../image/icons/autumn/pillow.png");
    --packing-left: url("../image/icons/autumn/pillow.png");
    /*Program*/
    --program-right: url("../image/icons/autumn/espresso-martini.png");
    --program-left: url("../image/icons/autumn/espresso-martini.png");
    /*Kart*/
    --map-right: url("../image/icons/autumn/bow.png");
    --map-left: url("../image/icons/autumn/bow.png");
    /*Meny*/
    --menu-right: url("../image/icons/autumn/cinnamon-roll.png");
    --menu-left: url("../image/icons/autumn/cinnamon-roll.png");
    /*Faq*/
    --faq-right: url("../image/icons/autumn/coffee.png");
    --faq-left: url("../image/icons/autumn/coffee.png");
    /*Film*/
    --film-right: url("../image/icons/autumn/hot-chocolate.png");
    --film-left: url("../image/icons/autumn/hot-chocolate.png");

    /*BILDER*/
    --wheel-fortune: url("../image/wheel/wheel-autumn.svg");
    --map: url("../image/map/kart-mobil-autumn-blank.svg");
    --tantes-hus: url("../image/map/houses/tantes-hus-autumn.svg");
    --tantes-hus-plan: url("../image/map/houses/husplan-autumn.png");
    --hytta: url("../image/map/houses/hytta-autumn.svg");
    --hytta-plan: url("/image/map/houses/hytteplan-autumn.png");
    --lille-hytta: url("/image/map/houses/lillehytta-autumn.svg");
    --lille-hytta-plan: url("/image/map/houses/lillehyttaplan-autumn.png");
  }
}
